body {
  font-size: 1.6rem;
}

button {
  all: unset;
  cursor: pointer;
  background-color: var(--green-500);
  color: var(--white);
  font-size: inherit;
  border-radius: 1rem !important;
  padding: 1rem 2rem;
  transition: filter 200ms;
}

button:hover {
  filter: brightness(0.8);
}

p {
  font-family: "Red Hat Display", sans-serif;
}

.container {
  width: 100%;
}

.content {
  width: 100%;
  max-width: 150rem;
  margin: auto;
  display: flex;
}

.title {
  font-size: 4.8rem;
  color: var(--green-700);
}

.subtitle {
  font-size: 1.6rem;
  color: var(--gray-300);
}

/* -- HEADER */
.header {
  align-items: center;
  justify-content: space-between;
  height: 15vh;
  padding: 2rem;
}

.header-nav {
  display: flex;
  gap: 5rem;
  color: var(--gray-400);
  font-family: "Red Hat Display", sans-serif;
}

.header.content a:hover {
  text-decoration: underline;
  color: #000;
}

.header .backgroundObject {
  position: absolute;
  opacity: 0.4;
  z-index: -1;
  left: 0;
  width: 80rem;
}

/* -- INTRO SECTION */
.intro {
  height: 85vh;
  justify-content: center;
  align-items: center;
}

.intro .text-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.intro .text-section h1 {
  font-size: 4.2rem;
}

.intro .text-section p {
  font-size: 2rem;
}

.intro .text-section + img {
  /* Notebook man Img */
}

.intro .backgroundObject {
  position: absolute;
  z-index: -1;
  right: 0;
  width: 50%;
}

/* -- PARTNERS SECTION */
.partners.container {
  background-color: var(--green-300);
}

.partners {
  justify-content: center;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.partners .text-section {
  text-align: center;
}

.partners .cards {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10rem;
  margin: auto;
}

.partners .card {
  max-width: 20rem;
}

.partners .card img {
  width: 100%;
  object-fit: cover;
}

/* --Nossos Dados */
.data.content {
  justify-content: center;
  align-items: center;
  height: 70vh;
  text-align: center;
  flex-direction: column;
  gap: 10rem;
}

.data.content .cards {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20rem;
}

.data .cards span {
  color: var(--green-500);
}

.data .card{
  display: flex;
  flex-direction: column;
}

.data .card h2{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6.4rem;
}

.data .card p {
  font-size: 2.4rem;
}
